<!DOCTYPE html>
<html>
<head>
    <title>Users Table</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app5.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
    <label>
        <input type="checkbox" ng-model="reverse"> Відсортувати
    </label>

    <table>
        <thead>
            <tr>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>Вік</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users | orderBy:'age':reverse">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.age}}</td>
            </tr>
        </tbody>
    </table>
    <a href="index.html">На головну</a>
</body>
</html>
