<!DOCTYPE html>
<html>
<head>
    <title>Users Table</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app10.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users" ng-if="user.firstName.toLowerCase().includes('a')">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.age}}</td>
            </tr>
        </tbody>
    </table>
    <a href="index.html">На головну</a>
</body>
</html>
